<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <legend>Ventas</legend>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Realizar registro
    </button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro Ventas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <form action="">
                            <input type="hidden" id="id">
                            <div>
                                <label for="date">Fecha y hora</label>
                                <input type="datetime-local" id="date">
                            </div>
                            
                            <div>
                                <label for="nombre">Cliente</label>
                                <input type="text" id="nombre">
                                <input type="text" id="n_identificacion">
                            </div>
                            
                            <div>
                                <label for="date">Fecha y hora</label>
                                <input type="datetime-local" id="date">
                            </div>
                            
                            

                            <div>
                                <label for="estado">Estado</label>
                                <select name="estado" id="estado">
                                    <option value="1">ACTIVO</option>
                                    <option value="0">INACTIVO</option>
                                </select>
                            </div>
                        </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" name="buttonPrimary" onclick="save()" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>



    <!-- <div class="filtros">
        <label for="">Filtro por nombre</label>
        <input type="text">

        <label for="">Filtro por estado</label>
        <input type="text">

        <button> Filtrar</button>
        <button onclick="loadData()"> Limpiar Filtros</button>
    </div> -->

    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th>Cliente</th>
                <th>Total</th>
                <th>Fecha Venta</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead class="table-group-divider">

        <tbody id="resultData">

        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/src/js/Operational/ventas.js"></script>
    <script>
        loadData();
    </script>
</body>

</html>